button:focus {outline:0;}



input, textarea { outline: none; }

.file-select {

        background-color: rgba(255, 255, 255, .35);
        border: 1px solid rgba(255, 255, 255, .35);
        border-color: rgba(255, 255, 255, .35);
        border-radius: 5px;
        width: 100%;
        height: 40px;
        padding: .45rem;
        color: rgba(255, 255, 255, .75);
    }

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: rgba(127, 127, 127, .75);
}

.checkbox {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

form {
    display: flex;
    flex-direction: column;
    /* max-width: 500px; */
}

.label {
    color: rgba(255, 255, 255, .85);
}

body {
    /* background-color: #2e3035; */
    background: linear-gradient(to bottom, #281d6d 0%,#2e3035 60%,#2e3035 100%);
    color: white;
}

h1 {
    font-size: 3rem;
    color: rgba(255, 255, 255, .85);
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}


hr {
    background-color: rgba(255, 255, 255, .35);
}
a {
    color: white;
    font-weight: bold;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.container {
    padding: 1rem;
    min-height: calc(100vh - 52px);
    
}

.control.has-icons-left .input:focus~.icon {
    color: white;
}

#new_post {
    flex-grow: 1;
    /* width: 120%; */
    /* padding-left: 15rem; */
}

#new_post strong {
    margin-left: 1.25rem;
}

.button.is-primary {
    background-color: #1BB76E;
}
.button.empty {
    background-color: transparent;
    border: none;
    color: white;
}
#navbarMain {
    align-items: center;
    background-color: transparent;
}


/* .navbar-brand {
    height: 56px;
} */

.navbar, .navbar-menu {
    background-color: rgba(15, 15, 15, .50);
}

.navbar a {
    color: rgba(255, 255, 255, .5)
}


.button.is-primary:hover {
    background-color: #0fce7e;

}

a.navbar-item:hover, .has-dropdown:hover, .navbar-link:hover, .navbar-dropdown a:hover {
    /* background-color: red; */
    color: inherit;
    background-color: transparent;
    /* background-color: rgba(255, 255, 255, .15); */
}

/* .navbar-dropdown a:hover, .navbar-dropdown:hover {
    background-color: red;
} */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
    margin-left: .5rem;
}

h5 {
    font-weight: bold;
}

.post_info {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;
    flex-wrap: wrap;
    /* min-height: 44px; */
    /* align-items: flex-end; */
    /* padding-left: .5rem; */
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 5px;
    background-color: rgba(255, 255, 255, .15);

}



.post_info li {
    padding: .5rem;
}

.post_info li:last-of-type {
    justify-self: flex-end;
    /* align-self: flex-end; */
    align-content: flex-end;
}
/* 
.post_info li:hover {
    color:white;
    text-decoration: underline;
} */

.post_info li a {
    color: unset;
}

.post_info li a:hover {
    color: white;
}

.post_link {
    color: rgba(255, 255, 255, .5);
    overflow: hidden;
    flex-grow: 12;
    display: flex;
    max-height: 350px;
}
.post_link:hover {
    color: rgba(255, 255, 255, .85);
}


#post_grid {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 1rem;  
  }
  
  #post_grid article {
      flex-basis: 300px;
      /* align-items: stretch; */
    /* align-content: flex-start; */
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
      /* height: 150px; */
      color: rgba(255, 255, 255, .4);
      margin: 1rem;
      flex-grow: 1;
      overflow: hidden;
  }

.image_container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex: 0 2 auto; */
    overflow: hidden;
    background-color: rgba(0, 0, 0, .35);

}

.image_container img {
    /* width: 100%;
    height: 100%; */
    object-fit: scale-down;

}

i {
    padding: 1rem;
}

.form {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    max-width: 100%;


}

.control input[type="text"] {
    background-color: rgba(255, 255, 255, .25);
    border-color: rgba(255, 255, 255, .35);
    color: white;
}

.control input::placeholder {
    color: rgba(255, 255, 255, .75);
}

.form input[type="submit"] {
    flex-grow: 1;
    /* flex-basis: 100%; */
    /* max-width: 100%; */
}

.table {
    background-color: rgba(200, 200, 200, 0.15);
    color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, .35);
    /* border-color: red;
    border: 1px solid transparent; */
    border-radius: 5px;
    width: 100%;
}

.table thead th, .table thead td {
    color: white;
}

.table th, .table tbody tr td {
    border-color: rgba(255, 255, 255, .25);
    border-left: none;
}

.table tbody tr td:last-of-type {
    border-right: none;
}

/* /////////////////////////// */


.table tr td {
    flex-grow: 1;
    flex-basis: 100%;
    border: 1px solid rgba(255, 255, 255, .25);
}



/* ////////// PROFILE ///////////// */
.profile_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: space-around;
    align-items: center;

}


.profile_picture {
    background-color: rgba(0, 0, 0, .35);
    position: relative;
    border-radius: 50%;
    width: 50%;
    height: auto;
    overflow: hidden;
    max-width: 300px;
    max-height: 300px;
    /* margin-right: 2rem;
    margin-bottom: 1rem; */
    /* margin-bottom: 1rem; */
    min-width: 25px;
    min-height: 25px;
}


.profile_picture:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.profile_picture img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-width: 25px;
    min-height: 25px;
}

.table {
    width: 100%;
}
#change_profile_btn {
    width: 100%;
}
